{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>minor</title>
    <link rel="stylesheet" ,type ="text/css" href="{% static  'css/minor.css' %}">
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script> 

</head>
<body>
    <div class="main">
        <p class="title">vegetation index</p><br>
        <p class="explanation">upload image and it will give you the colored output separating healty and unhealthy part of your field</p>
        <hr width = 65% , color="black" class="style">
        <form action="{% url 'upload' %}" method="post" enctype="multipart/form-data" onsubmit="return checkForm()">
            {% csrf_token %}
            <input type = "file" name='img' id="real-file" hidden='hidden'>
            <center>
                <button type="button" id="custom-button" onclick="uploadImg()">Select Image</button>
            </center>
            <center>
            <select id='algorithm' name="algorithm">
                <option value="0">Select Algorithm</option>
                <option value="vari">vari</option>
                <option value="ndvi">ndvi</option>
            </select>
            </center>
            <center>
            <div id="errormsg" style="display: none"></div>
            <button type="submit" id="submit">Upload</button>
            </center>
        </form>
        <hr width = 65% , color="black" class="style">
    </div>
</body>
</html>