{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>minor</title>
    <link rel="stylesheet" ,type ="text/css" href="{% static  'css/output.css' %}">
    <link rel="stylesheet", type="text/css" media="screen and (max-width: 1280px)" href="{% static 'css/small.css'  %}">
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script> 
</head>
<body>
    <h2 align="center"><a href = {% url 'index' %} class="homeURL">Home</a></h2>
    <p>colored output of the image provided</p><br>
    <hr width = 65% , color="black" class="style">
    <div class="input">
        <header>Input image</header>
        <div class="graph">
            <img src= "{% static inputimg %}" class="graph-img">
        </div>
    </div>
    <div class="output">
        <header>Output image</header>
        <div class="graph">
            <img src= "{% static outputimg %}" class="graph-img">    
        </div>
    </div>
    <div class="value">
        <header class="phead">percentage</header>
        <p>
           dense = {{dense}}%<br>
           barren = {{barren}}%<br>
           sparse = {{sparse}}%<br>
        </p>
        <header class="phead">Lightness vs Index</header>
        <div class="graph">
            <img src= "{% static plotimg %}" class="graph-img">    
        </div>
    </div>
</body>
</html>